@font-face {
  font-family: 'beleren-bold';
  src: url('fonts/beleren-bold.ttf');
}

@font-face {
  font-family: 'hkgrotesk';
  font-weight: normal;
  src: url('fonts/hkgrotesk-light.otf');
}

@font-face {
  font-family: 'hkgrotesk';
  font-weight: bold;
  src: url('fonts/hkgrotesk-medium.otf');
}

body {
  margin: 0px;
  color: rgb(252, 252, 252);
  font-family: 'hkgrotesk';
  background-color: rgb(58, 61, 64);
}

h1 {
  font-family: 'beleren-bold';
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

p {
  margin: 0px;
}

select {
  border: 1px solid white;
  background-color: rgb(254, 255, 252);
  font-size: 13px;
  user-select: none;
}

.app-cntnr {
  background-color: rgb(58, 61, 64);
}

.header-bar {
  background-color: rgb(37, 37, 37);
  height: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text {
  font-size: 33px;
  margin: 0px;
}

.content-cntnr {
  padding: 20px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.bottom-cntnr {
  margin-top: 20px;
}

.card-filter-cntnr {
  display: flex;
  justify-content: space-around;
}

.card-image {
  border-radius: 10px;
  width: 223px;
}

.card-list {
  width: 60%;
}

.card-row {
  padding: 5px;
  background-color: rgb(92, 92, 92);
}

.card-row:focus {
  outline: none;
}

.card-row--unselected:hover, .card-row--unselected:focus {
  background-color: rgb(79, 77, 77);
}

.card-row--selected {
  background-color: rgb(60, 59, 59);
}

.card-title {
  font-size: 18px;
}

.card-detail-cntnr {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}

.card-detail--content-cntnr {
  display: flex;
  flex-direction: column;
}

.button {
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(112, 112, 112);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.page-button {
  margin: 10px 0px;
}

.page-number {
  margin: auto;
}

.disabled {
  filter: brightness(50%);
  cursor: default;
  background-color: rgba(255, 255, 255, 0.2);
}

.button:not(.disabled):hover {
  background-color: rgb(91, 91, 91);
}

.button:not(.disabled):active {
  background-color: rgb(72, 72, 72);
}

.go-button {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 9px;
}

.justify-spc-btwn-cntnr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.color-symbol--unselected {
  filter: brightness(40%);
}

.image-loader {
  display: none;
}
