@font-face {
  font-family: 'beleren-bold';
  src: url('fonts/beleren-bold.ttf');
}

@font-face {
  font-family: 'hkgrotesk';
  font-weight: normal;
  src: url('fonts/hkgrotesk-light.otf');
}

@font-face {
  font-family: 'hkgrotesk';
  font-weight: bold;
  src: url('fonts/hkgrotesk-medium.otf');
}

body {
  margin: 0px;
  color: rgb(252, 252, 252);
  font-family: 'hkgrotesk';
  background-color: rgb(58, 61, 64);
}

h1 {
  font-family: 'beleren-bold';
  font-size: 22px;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

p {
  margin: 0px;
}

select {
  border: 1px solid white;
  background-color: rgb(254, 255, 252);
  font-size: 13px;
}

.app-cntnr {
  background-color: rgb(58, 61, 64);
}

.header-bar {
  background-color: rgb(37, 37, 37);
  height: 90px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header-text {
  font-size: 33px;
}

.content-cntnr {
  padding: 20px;
}

.card-filter-cntnr {
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.card-image {
  border-radius: 10px;
}

.button {
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(112, 112, 112);
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(91, 91, 91);
}

.button:active {
  background-color: rgb(72, 72, 72);
}

.go-button {
  display: inline-block;
  padding: 10px 15px;
}

.bottom-cntnr {

}

.color-symbol {
  /*margin-right: 5px;*/
}

.justify-spc-btwn-cntnr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.color-symbol--unselected {
  filter: brightness(40%);
}
